.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
}

.navbar__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar__item {
    margin: 0 10px;
}

.navbar__link {
    color: white;
    text-decoration: none;
}

.navbar__link:hover {
    color: #ccc;
}